@using ASF.UI.WbSite.Constants.HomeController
@{
    ViewBag.Title = "Conoce un poco mas acerca de nosotros";
    ViewBag.Description = "PETRA es una plataforma de comercio electrónico con operaciones en 15 países de América latina donde millones de usuarios compran y venden productos a través de Internet. En PETRA venden productos pequeñas y medianas empresas, productores, fabricantes, importadores, emprendedores, minoristas, mayoristas, individuos particulares, concesionarios, etc. PETRA hace que tus compras y ventas sean mucho mas sencillas.";
    ViewBag.Author = "Pablo Mahiques";
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@PMahiques");
    ViewBag.OpenGraph = new OpenGraphBusiness(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 },
        new OpenGraphContactData("Arias 3550", "Castelar", "Buenos Aires", "Argentina")
        {
            Email = "petra_contacto@gmail.com",
            Phone = "(011) 4661-6986",
            Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
        },
        new OpenGraphLocation(51.5286417, -0.1015987))
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}
@Html.Partial("_Espacio1")

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-users"></span> @ViewBag.Title</h1>
</header>

<p>@ViewBag.Description</p>
