
@{
    ViewBag.Title = "PETRA - Tu Mercado Siempre";
}
<!-- start slider Section -->
<section id="slider_sec">
    <div class="container">
        <div class="row">
            <div class="slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @*<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>*@
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="wrap_caption">
                                <div class="caption_carousel">
                                    <h1>PETRA</h1>
                                    <p>TU MERCADO SIEMPRE</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End slider Section -->
<!-- start about Section -->
@*<section id="abt_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>SOBRE NOSOTROS</h1>
                    <h2>PETRA es una plataforma de comercio electrónico con operaciones en 15 países de América latina donde millones de usuarios compran y venden productos a través de Internet. En PETRA venden productos pequeñas y medianas empresas, productores, fabricantes, importadores, emprendedores, minoristas, mayoristas, individuos particulares, concesionarios, etc. PETRA hace que tus compras y ventas sean mucho mas sencillas.</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- start contact us Section -->
<section id="ctn_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>INFORMACION DE CONTACTO</h1>
                    <h2>NO DUDES EN HACERNOS SABER LO QUE PENSAS</h2>
                </div>
            </div>
            @*<div class="col-sm-6">
                <div id="cnt_form">
                    <form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control name-field" required="required" placeholder="Nombre Completo">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control mail-field" required="required" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cnt_info">
                    <ul>
                        <li><i class="fa fa-address-card"></i><p>Arias 3550, Castelar</p></li>
                        <li><i class="fa fa-envelope"></i><p>pablo.a.mahiques@gmail.com</p></li>
                        <li><i class="fa fa-phone"></i><p>(011) 4661-6986</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>*@